PROXY_HOST=res.geonix.com
PROXY_PORT=10000
PROXY_USERNAME=
PROXY_PASSWORD=

HEADLESS=false
WAIT_FOR_MANUAL_GOOGLE=true
KEEP_BROWSER_OPEN=true
CHECK_INTERVAL_MINUTES=20
MANUAL_GOOGLE_TIMEOUT_MINUTES=20
